extends ../layout

block content
    br
    h5.text-center Administrador 2 de bicicletas
    br
    a.btn.btn-info(href='/bicicletas2/create') Añadir Nueva Bicicleta
    a.btn.btn-secondary(href='/') Volver
    br
    table.table
        thead
         tr
            th(scope='col') #
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicacion
            th(scope='col')
            th(scope='col')
        tbody
        tr
        each bici in bicis
           th(scope='row')= bici.id
           td=bici.color
           td=bici.modelo
           td=bici.ubicacion
           td 
            a.btn.btn-primary(href='bicicletas2/'+bici.id+'/update') Editar
           td
            form.inline(method='post' action='bicicletas2/'+bici.id+'/delete')
                input(type='hidden' name='id' value=bici.id)
                button.link-button(type='submut_param' name='submit_value' class='btn')='Eliminar' 
            tr
           