extends ../layout

block content
 br
 a.btn.btn-primary(href='/equipos') Volver
 br
 br
 br
 h1 Actualizar seleccion de componentes
 br
 br
 text-center
 form(action=`/equipos/${pc.id}/update` method='post')
    label(for='id') Id:
    input#id(type='text' name='id' value=pc.id)
    br
    label(for='procesador') Procesador:
    input#procesador(type='text' name='procesador' value=pc.procesador)
    br
    label(for='fuente') Fuente:
    input#fuente(type='text' name='fuente' value=pc.fuente)
    br
    label(for='graphics') Placa de Video:
    input#graphics(type='text' name='graphics' value=pc.graphics)
    br
    label(for='motherboard') Placa Madre:
    input#motherboard(type='text' name='motherboard' value=pc.motherboard)
    br
    label(for='almacenamiento') Almacenamiento:
    input#almacenamiento(type='text' name='almacenamiento' value=pc.almacenamiento)
    br
    label(for='memoriaram') Memoria Ram:
    input#memoriaram(type='text' name='memoriaram' value=pc.memoriaram)
    br
    label(for='gabinete') Gabinete:
    input#gabinete(type='text' name='gabinete' value=pc.gabinete)
    br
    label(for='disipador') Disipador:
    input#disipador(type='text' name='disipador' value=pc.disipador)
    br
    input.btn(type='submit' value='ok')
